{% for mission in missions %}
    <tr>
                <td>{{ mission.id }}</td>
                <td>{{ mission.title }}</td>
                <td>{{ mission.description }}</td>
                <td>{{ mission.codeName }}</td>
                <td>{{ mission.country }}</td>
                <td>{% if mission.speciality %}
                    {{ mission.speciality.name }} 
                    {% endif %}
                </td>
                <td>{% for agents in mission.agents %}
                    {{ agents.identificationCode }}
                    {% endfor %}
                </td>
                <td>{% for contacts in mission.contacts %}
                    {{ contacts.codeName }}
                    {% endfor %}
                </td>
                <td>{% for cibles in mission.cibles %}
                    {{ cibles.codeName }}
                    {% endfor %}
                </td>
                <td>{% for planques in mission.planques %}
                    {{ planques.code }}
                    {% endfor %}
                </td>
                <td>{{ mission.startDate ? mission.startDate|date('Y-m-d') : '' }}</td>
                <td>{{ mission.endDate ? mission.endDate|date('Y-m-d') : '' }}</td>
                <td>{% if mission.status %}
                    {{ mission.status.name }} 
                    {% endif %}
                </td>
                <td>{% if mission.type %}
                    {{ mission.type.name }} 
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('app_mission_show', {'id': mission.id}) }}">Voir</a>
                    {% if is_granted('ROLE_USER') %}
                    <a href="{{ path('app_mission_edit', {'id': mission.id}) }}">Modifier</a>
                    {% endif %}
                </td>
            </tr> 
        {% else %}
            <tr>
                <td colspan="9">pas de résultat trouvé</td>
            </tr>
{% endfor %}